block content
  .container-header
    .navigation-header
      h2 mmmarkdown
      p a yummy markdown editor
    .main-header
      .file-info
        .file-name
          | #{fileName}
        .word-count
          span#words
          |  words
          button#save(type = button) Save
      .markdown-preview-header
        .markdown-header
          | MARKDOWN
        .preview-header
          | PREVIEW
