extends layout

block content
  .header-wrapper
    .top-header-wrapper
      .top-header-left
        h3 example file name
      .top-header-right
        h3 save button
    .bottom-header-wrapper
      .bottom-header-left
        h3 MARKDOWN
      .bottom-header-right
        h3 PREVIEW
