extends layout

block content
  .main
    .side-bar
      .side-header
        h3 mmmarkdown
        p a yummy markdown editor
      .side-files
    .header-data
      .md-column
        .current-file
          h3 im rocking the left!
        .markdown-header
          h3 MARKDOWN
        .editable-md
          h3 file-md-text
      .preview-column
        .save-button
          h3 im rocking the right!
        .preview-header
          h3 PREVIEW
        .preview
          h3 file-preview-text
